@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f3f4f6;
}
::-webkit-scrollbar-thumb {
    background: rgb(141, 141, 141);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(97, 97, 97);
}

html {
    scroll-behavior: smooth;
}